<div class="overlay" *ngIf="showOverlay">
  <div class="overlay-content">
    <span class="close" (click)="closeOverlay.emit(true)">&times;</span>
    <h2>Add New Team</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="input-field">
        <label for="teamName">Team Name:</label>
        <input
          type="text"
          id="teamName"
          [(ngModel)]="teamName"
          name="teamName"
          required
        />
      </div>
      <div class="input-field">
        <label for="description">Description:</label>
        <input id="description" [(ngModel)]="description" name="description" />
      </div>
      <div class="input-field">
        <label for="teammates">Select Teammates:</label>
        <div *ngFor="let user of companyUsers" class="teammate">
          <input
            type="checkbox"
            [value]="user"
            (change)="toggleTeammate(user)"
          />
          {{ user.profile.firstName }} {{ user.profile.lastName }}
        </div>
      </div>
      <button type="submit">Add Team</button>
    </form>
  </div>
</div>
