.login-page {
  margin: 0;
  background-color: #051622;
  color: #1ba098;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 98vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: #051622;
  padding: 2rem 6rem;
  border-radius: 8px;
  box-shadow: 4px 4px 10px 5px #cbcbcb7d;
  text-align: center;
  width: 350px;
  border: 5px solid #deb992;
}

.login-logo-container h1 {
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.9),
    0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 25px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.4), 0 0 35px rgba(255, 255, 255, 0.3); /* Extended glow */
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group input {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #444444;
  border-radius: 4px;
  background: #051622;
  text-align: center;
  border: 0;
  border-bottom: 5px solid white;
  color: #1ba098bf;
  font-size: 16px;
  padding: 0;
  padding-bottom: 3px;
}

.form-group input::placeholder {
  color: #1ba098bf; /* Your desired placeholder text color */
}

button {
  padding: 0.75rem;
  border: 2px solid #1ba098;
  background-color: #051622;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  width: 125px;
  margin-top: 30px;
}

button:hover {
  background-color: #188f88;
}

.logo-background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  background: #0d3a59;
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.logo-img {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-img img {
  width: 100px;
}

.logo-content {
  width: 75vw;
}

@media (max-width: 650px) {
  .login-box {
    width: 250px;
    padding: 1.5rem 2rem;
  }

  .logo-img {
    font-size: 10px;
  }

  .logo-content {
    width: 70vw;
  }
}
